[submodule "xlineapi/proto"]
	path = xlineapi/proto
	url = https://github.com/xline-kv/xline-proto.git
[submodule "curp/proto/common"]
	path = curp/proto/common
	url = https://github.com/xline-kv/curp-proto.git
