name: Benchmark

on:
  workflow_dispatch: {}

env:
  CI_RUST_TOOLCHAIN: 1.61.0

jobs:
  becnmark:
    name: benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt install -y cmake g++ libprotobuf-dev protobuf-compiler
      - uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: ${{ env.CI_RUST_TOOLCHAIN }}
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - run: |
          cd scripts
          cp ../target/release/xline .
          cp ../target/release/benchmark .
          docker build . -t datenlord/xline:latest
          docker pull datenlord/etcd:v3.5.5
          bash ./benchmark.sh
      - uses: actions/upload-artifact@v1
        with:
          name: benchmark-output
          path: scripts/out
