name: Benchmark

on:
  workflow_dispatch: {}
  schedule:
    - cron: "00 00 * * 1"

env:
  CI_RUST_TOOLCHAIN: 1.71.0

jobs:
  benchmark:
    name: benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure sccache
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - name: Build xline
        run: |
          docker run -q --rm -v $(pwd):/xline \
            -e SCCACHE_GHA_ENABLED=on \
            -e ACTIONS_CACHE_URL=${ACTIONS_CACHE_URL} \
            -e ACTIONS_RUNTIME_TOKEN=${ACTIONS_RUNTIME_TOKEN} \
            ghcr.io/xline-kv/build-env:latest \
            cargo build --release --bin xline --bin benchmark

      - run: |
          cd scripts
          cp ../target/release/{xline,benchmark} .
          docker build . -t ghcr.io/xline-kv/xline:latest
          docker pull datenlord/etcd:v3.5.5
          bash ./benchmark.sh

      - uses: actions/upload-artifact@v4
        with:
          name: benchmark-output
          path: scripts/out
