name: Benchmark

on:
  workflow_dispatch: {}
  schedule:
    - cron: "00 00 * * 1"

env:
  CI_RUST_TOOLCHAIN: 1.71.0

jobs:
  benchmark:
    name: benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure sccache
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

  call_build_xline:
    name: Build and Upload Artifacts
    uses: ./.github/workflows/build_xline.yml
    with:
      docker_xline_image: "ghcr.io/xline-kv/build-env:latest"
      binaries: "xline,benchmark"
      additional_setup_commands: |
        docker build . -t ghcr.io/xline-kv/xline:latest
        docker pull datenlord/etcd:v3.5.5
      script_name: "benchmark.sh"
      uploadLogs: false
      uploadBenchmark: true
