name: Validation

on:
  workflow_dispatch: {}
  pull_request:
    types: [opened, synchronize, reopened]
  schedule:
    - cron: "00 00 * * 1"

jobs:
  validation:
    name: Validation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure sccache
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

  call_build_xline:
    name: Build and Upload Artifacts
    uses: ./.github/workflows/build_xline.yml
    with:
      docker_xline_image: 'ghcr.io/xline-kv/build-env:latest'
      additional_setup_commands: |
        sudo apt-get install -y --force-yes expect
        ldd ./xline
        ldd ./benchmark
        cp ../fixtures/{private,public}.pem .
        docker build . -t ghcr.io/xline-kv/xline:latest
        docker pull gcr.io/etcd-development/etcd:v3.5.5
      binaries: 'xline,benchmark,validation_lock_client'
      script_name: 'validation_test.sh'
      uploadLogs: true
